.Edithor {
  display: flex;
  gap: 10px;
}

.Edithor input {
  flex: 1; /* flex를 1로 두면, 부모 요소의 크기를 벗어나지 않는 선에서 늘어날수 있는 최대 길이만큼 늘어남 */
  padding: 15px;
  border: 1px solid rgb(220,220,220);
  border-radius: 5px;
}

.Edithor button{
  cursor: pointer; /* 버튼 디자인 설정*/
  width: 80px;
  border: none;
  background-color: rgb(37, 147, 255);
  color: white;
  border-radius: 5px;
}